<br>

<div class="page--section-head">
  <h2 class="page--section-title">{{ update ? 'Update' : 'Add' }} recipe</h2>
</div>

<br>

<form (ngSubmit)="update ? updateRecipe() : addRecipe()" [formGroup]="service.form">
  
  <div>
    <mat-form-field color="primary" appearance="outline">
      <mat-label>Dish name</mat-label>
      <input matInput type="text" formControlName="dishName">
    </mat-form-field>
  
    <ng-container *ngIf="value.imageUrl;else blankImageUrl">
      <img class="form--image" [src]="value.imageUrl" [alt]="value.dishName">
    </ng-container>
    <ng-template #blankImageUrl>
      <div class="form--empty-image">
        <mat-icon>image</mat-icon>
      </div>
    </ng-template>
  
    <mat-form-field color="primary" appearance="outline">
      <mat-label>Image url</mat-label>
      <input matInput type="text" formControlName="imageUrl">
    </mat-form-field>

    <mat-form-field color="primary" appearance="outline">
      <mat-label>Cooking time</mat-label>
      <input matInput type="text" formControlName="cookingTime">
      <mat-hint>Please enter a time duration in the format: "[numeric value] [time unit]" (ex. 9 minutes)</mat-hint>
    </mat-form-field>
  </div>
  
  <div>
    <mat-form-field color="primary" appearance="outline">
      <mat-label>Cooking steps</mat-label>
      <input matInput type="text" formControlName="cookingSteps" (keydown.enter)="service.updateCookingStep()">
      <button matSuffix mat-button color="accent" (click)="service.updateCookingStep()" type="button">
        <span>Add</span>
      </button>
    </mat-form-field>

    <ng-container *ngIf="service.hasCookingSteps;else noCookingStepsEntered">
      <ol><li *ngFor="let item of service.cookingSteps$$ | async;let i = index">
        <p>{{ item }}<mat-icon (click)="service.updateCookingStep(i)">delete</mat-icon></p>
      </li></ol>
    </ng-container>
    <ng-template #noCookingStepsEntered>
      <ol><li>Add a cooking step</li></ol>
    </ng-template>
  
    <mat-form-field color="primary" appearance="outline">
      <mat-label>Ingredients</mat-label>
      <input matInput type="text" formControlName="ingredients" (keydown.enter)="service.updateIngredients()">
      <button matSuffix mat-button color="accent" (click)="service.updateIngredients()" type="button">
        <span>Add</span>
      </button>
    </mat-form-field>

    <ng-container *ngIf="service.hasIngredients;else noIngredientsEntered">
      <ul><li *ngFor="let item of service.ingredients$$ | async;let i = index">
        <p>{{ item }}<mat-icon (click)="service.updateIngredients(i)">delete</mat-icon></p>
      </li></ul>
    </ng-container>
    <ng-template #noIngredientsEntered>
      <ul><li>Add an ingredient</li></ul>
    </ng-template>
  
    <mat-form-field color="primary" appearance="outline">
      <mat-label>Nutritional value</mat-label>
      <input matInput type="text" formControlName="nutritionalValue" (keydown.enter)="service.updateNutritionalValue()">
      <button matSuffix mat-button color="accent" (click)="service.updateNutritionalValue()" type="button">
        <span>Add</span>
      </button>
    </mat-form-field>

    <ng-container *ngIf="service.hasNutritionalValue;else noNutritionalValueEntered">
      <ul><li *ngFor="let item of service.nutritionalValue$$ | async;let i = index">
        <p>{{ item }}<mat-icon (click)="service.updateNutritionalValue(i)">delete</mat-icon></p>
      </li></ul>
    </ng-container>
    <ng-template #noNutritionalValueEntered>
      <ul><li>Add a nutritional value</li></ul>
    </ng-template>

    <mat-form-field color="primary" appearance="outline">
      <mat-label>Calorie content</mat-label>
      <input matInput type="text" formControlName="calorieContent">
      <mat-hint>Ex. "Approximately 400-500 calories."</mat-hint>
    </mat-form-field>

    <button mat-raised-button type="submit">{{ update ? 'Update' : 'Add' }} recipe</button>
  </div>

</form>
