<ng-container *ngIf="service.authenticated$ | async">
  <mat-toolbar class="toolbar mat-elevation-z1" color="primary">
    <mat-toolbar class="toolbar--content" color="primary">
    
      <span class="toolbar--app-name" routerLink="/">Cuisine Connect</span>
  
      <ng-container *ngIf="(service.authState$ | async)?.photoURL">

        <button mat-button routerLink="/">Cuisine categories</button>
        <button mat-button routerLink="/search-dish">Search a dish</button>
        <button mat-button routerLink="/add-recipe">Add a recipe</button>
  
        <div
          class="toolbar--image-button"
          [matMenuTriggerFor]="userMenu"
          #userMenuTrigger="matMenuTrigger">
          <img [src]="(service.authState$ | async)?.photoURL" alt="user-image" height="45" width="45">
          <mat-icon>arrow_drop_{{ userMenuTrigger.menuOpen ? 'up' : 'down' }}</mat-icon>
        </div>
      </ng-container>
  
      <mat-menu 
        xPosition="before"
        #userMenu="matMenu">
        <button mat-menu-item routerLink="/manage-profile">Manage profile</button>
        <button mat-menu-item (click)="service.logout()">Logout</button>
      </mat-menu>
  
    </mat-toolbar>
  </mat-toolbar>
</ng-container>

<div class="root" [ngClass]="{ authenticated: service.authenticated$ | async }">
  <div class="root--content">
    <div class="root--content-outlet">
      <router-outlet></router-outlet>
    </div>
    <div class="root--content-footer" *ngIf="service.authenticated$ | async">
      <p>©2023 <span routerLink="/">Cousine Connect.</span> All rights reserved.</p>
    </div>
  </div>
</div>
