<ng-container *ngIf="service.authenticated$ | async">
  <mat-toolbar class="toolbar mat-elevation-z1" color="primary">
    <mat-toolbar class="toolbar--content" color="primary">
    
      <span class="toolbar--app-name" routerLink="/">Cuisine Connect</span>
  
      <ng-container *ngIf="service.authState.currentUser$| async as currentUser">

        <button mat-button routerLink="/">Cuisine categories</button>
        <button mat-button routerLink="/search-dish">Search a dish</button>
        <button mat-button routerLink="/add-recipe">Add a recipe</button>
  
        <div class="toolbar--actions">
          <div
            class="toolbar--image-button"
            [matMenuTriggerFor]="userMenu"
            #userMenuTrigger="matMenuTrigger">
            <img [src]="currentUser.photoURL" alt="user-image" height="45" width="45">
            <mat-icon>arrow_drop_{{ userMenuTrigger.menuOpen ? 'up' : 'down' }}</mat-icon>
          </div>
          <div
            matRipple
            class="toolbar--language"
            [matMenuTriggerFor]="languageMenu"
            #languageMenuTrigger="matMenuTrigger">
            <span>EN</span>
            <mat-icon>language</mat-icon>
          </div>
        </div>

        <mat-menu 
          xPosition="before"
          #userMenu="matMenu">
          <button mat-menu-item routerLink="/manage-profile">
            <mat-icon>person</mat-icon>
            <span>Manage profile</span>
          </button>
          <button mat-menu-item routerLink="/admin">
            <mat-icon>admin_panel_settings</mat-icon>
            <span>Switch to admin portal</span>
          </button>
          <button mat-menu-item routerLink="/admin">
            <mat-icon>autorenew</mat-icon>
            <span>Switch to default</span>
          </button>
          <button mat-menu-item (click)="service.logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>

        <mat-menu 
          xPosition="before"
          #languageMenu="matMenu">
          <button mat-menu-item>English</button>
          <button mat-menu-item>Latvian</button>
          <button mat-menu-item>Russian</button>
        </mat-menu>

      </ng-container>
  
    </mat-toolbar>
  </mat-toolbar>
</ng-container>

<div class="root" [ngClass]="{ authenticated: service.authenticated$ | async }">
  <div class="root--content">
    <div class="root--content-outlet">
      <router-outlet></router-outlet>
    </div>
    <div class="root--content-footer" *ngIf="service.authenticated$ | async">
      <p>©2023 <span routerLink="/">Cuisine Connect.</span> All rights reserved.</p>
    </div>
  </div>
</div>

<div class="root--content-footer auth" *ngIf="!(service.authenticated$ | async)">
  <p>©2023 <span routerLink="/">Cuisine Connect.</span> All rights reserved.</p>
</div>
